{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 8</title>
<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
<link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css'>
<style>

</style>
{% endblock meta %}

{% block content %}
<div class="container pt-5">
  <form id="myform">
    <div class="input-group mb-3 " ><input placeholder="Search Book ..." type="text" class="form-control" id="books">
      <div class="input-group-append"><button class="btn btn-dark"><i class="fas fa-search"></i></button></div>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Cover Image</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Page Count</th>
      </tr>
    </thead>
    <tbody id="result">

    </tbody>
  </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'js/jscript.js' %}"></script>
{% endblock content %}
